# ignore all files beginning with z
# as they are logs
*z.

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

#Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

#Project specific
checkpoints/

models/
skills/
runs/
SAC/checkpoints*
fm_eval/
Plots/
z.vid/
*.npz
/.ipynb_checkpoints
*.csv
fm/
Plots/
checkpoints_predefined_2x2/
exploration.py
nohup.out
*.log
fm_artificial-training.py
fm_artificial-training_1x2.py
fm_artificial-training_lookup.py
test_relabeling.py
train_fm+policy.py
train_fm.py
z.g
z.log.global
z.rndObjects.g